@model TodoViewModel
@using Humanizer

@{
    ViewData["Title"] = "Manage todo list like a mfcker!";
}

<div class="panel panel-default todo-panel">
    <div class="panel-heading">@ViewData["Title"]</div>

    <table class="table table-hover">
        <thead>
            <tr>
                <td>&#x2714;</td>
                <td>Item</td>
                <td>Start</td>
                <td>Due</td>
                <td>Rem time</td>
            </tr>
                
        </thead>
        @foreach (var item in Model.Items)
        {
            @if (item.IsDone != true) {              
            <tr>
                <td>
                    <form asp-action="MarkDone" method="POST">
                        <input type="checkbox" class="done-checkbox">
                        <input type="hidden" name="id" value="@item.Id">
                    </form>
                </td>
                <td>@item.Title</td>
                <td>@item.StartAt</td>
                <td>@item.DueAt</td>
                <td>@item.TimeRem.Humanize(3)</td> 
            </tr>
            }
        }
        @foreach (var item in Model.Items)
        {
            @if (item.IsDone == true) {              
            <tr class='done'>
                <td>
                    &#x2714;
                </td>
                <td>@item.Title</td>
                <td>@item.StartAt</td>
                <td>@item.DueAt</td>
                <td>@item.TimeRem.Humanize(3)</td> 
            </tr>
            }
        }
    </table>

    <div class="panel-footer add-item-form">
        @await Html.PartialAsync("AddItemPartial", new TodoItem())
    </div>


</div>